.body {
    text-align: center;
}

.one {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 100%
}

.two {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

.two-one {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
    float: right;
}

.three {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 31%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

.three-four {
    background-color: deeppink;
    color: white;
    height: 100px;
    float: right;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
}

.three-two {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 31%;
    float: right;
    margin-left: 1%;
    margin-right: 1%;
}

.four {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 23%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

.four-one {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

.four-two {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

.four-three {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    float: right;
}

.five {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 14%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

.five-one {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 14%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

.five-two {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 14%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

.five-three {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 14%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

.five-four {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 14%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

.five-five {
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 14%;
    margin-left: 1%;
    margin-right: 1%;
    float: right;
}
.div-1{
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 31%;
    margin-left: 1%;
    margin-right: 1%;
    float: right; 
}
.div1{
    color: white;
    background-color: deeppink;
    height: 100px;
    width: 65%;
    margin-left: 1%;
    margin-right: 1%;
    float: right;
}