body {
    margin: 0px;
    background-color: #D8D8D8;
}

.navlink {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    min-width: 53px;
    padding: 6px 5px;
   


}

.selected {
    background-color: #F53030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    min-width: 53px;
    padding: 6px 5px;
    border-radius: 4px;
}

.navlink:hover {
    background-color: #F53030;
    border-radius: 4px;
}

.navimage {
    margin-bottom: -10px;
    margin-top: 20px;
}

.navlinkscontainer {
    display: flex;
    height: 70px;
    gap: 10px;
}

.div {
    color: white;
    text-decoration: none;
    font-family: 'Pe-icon-7-stroke';

}

.padding {
    padding: 20px 10px;
    margin-bottom: 3%;
    background-color: white;

}

.navbar {
    display: flex;
    background-color: black;
    justify-content: space-around;
    height: 90px;
    border-bottom: 5px solid #F30000;
    align-items: center;
}

.heroSection {
    background-color: white;
    padding: 20px;
    display: flex;
    width: 75%;
    margin: auto;
    border: 1px solid lightgray;

}

.heroSubSection {
    background-color: #F6F6F6;
    display: flex;
    width: 100%;
    border-radius: 5px;

}

.section1 {
    width: 30%;

}

.section2 {
    width: 70%;
    padding-left: 27px;


}



.heading {
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    font-family: 'CANDARA', Arial, Helvetica;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #f5f5f5db;

}

.bug {
    margin-left: 2%;
}



.main {
    display: flex;
}

.color {
    background-color: white;
    padding-top: 2px;
}

.p {
    margin: 0px;
    padding-left: 5px;
    font-family: 'CANDARA';
    height: 29px;
    font-size: 14px;
}

.div1 {
    font-weight: 300;
    color: #404040;
    display: block;
    margin: 0px;
    margin-right: -12px;
    padding-left: 5px;
    font-size: 7px;

}

.img {
    padding: 5px;
}

.one {
    display: flex;
    padding-top: 15px;

}

.movieContainer:hover {
    color: red;
    background-color: #EDEEEE;
}

.fav {
    color: #333333;
    font-size: 14px;
    font-weight: normal;
    font-family: CANDARA, sans-serif, verdana, arial, helvetica, serif, sans-serif;
    text-decoration: none;
}

.padding2 {
    padding: 20px 10px 0px 10px;

}

.white {
    background-color: white;
    width: 382px;

}

.div12 {
    margin-left: 9px;
    text-align: center;
    padding-top: 5px;
    height: 30px;
    margin-top: -5px;
    width: 363px;
}

.div12:hover {
    background-color: #EFEFEF;
}