body {
    margin: 0px;
    background-color: #D8D8D8;
}

.navbar {
    display: flex;
    background-color: black;
    justify-content: space-around;
    height: 90px;
    border-bottom: 5px solid #F30000;
    align-items: center;
}

.heroSection {
    background-color: white;
    padding: 20px;
    display: flex;
    width: 80%;
    margin: auto;
    border: 1px solid lightgray;

}

.heroSubSection {
    background-color: #F6F6F6;
    display: flex;
    width: 100%;
    border-radius: 5px;

}

.section1 {
    width: 30%;

}

.section2 {
    width: 70%;

}
.gap{
    margin-bottom:3% ;
}

.heading {
    /* border: 1px solid lightgray; */
    
}

.bug {
    margin-left: 2%;
}

.div {
    border: 1px solid red;
    color: white;
    text-decoration: none;
    padding: 30px 5px 20px 5px;
}

.main {
    display: flex;
}

.color{
    background-color: white;
    padding-top: 2px;
}
.p{
    margin: 0px;
    padding-left: 5px;
}
.div1{
    font-size: 11px;
    color: gray;
    display: block;
    margin: 0px;
    padding-left: 5px;
    
}
.im{
    padding: 5px;
}
